@font-face {
  font-family: 'MontR';
  src: url("../fonts/Montserrat/MontR/Montserrat-Regular.ttf") format('truetype'),
       url("../fonts/Montserrat/MontR/Montserrat-Regular.otf") format('opentype')
}

@font-face {
  font-family: 'MontB';
  src: url("../fonts/Montserrat/MontB/Montserrat-Bold.ttf") format('truetype'),
  url("../fonts/Montserrat/MontB/Montserrat-Bold.otf") format('opentype')
}